.ws-url{
    margin-right:0;
}

.chat {
    min-height: 300px;
    max-height: 500px;
}

.message {
    resize: none;
}

.login-label {
    margin-left: 15px;
}

.right {
    float: right;
}

.chat-messages {
    padding: 0;
    list-style: none;
}

/* each chat message takes up a whole line to ensure the correct order of sent and received messages */
.chat-messages li {
    width: 100%;
    text-align: left;
}

/* chat bubble style */
.chat-messages li .message-container {
    max-width: 40%;
    display: inline-block;
    padding: 5px 10px;
    background-image: linear-gradient(to bottom, #ddd 0px, #ccc 100%);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

/* chat bubble style for own messages */
.chat-messages li.own .message-container {
    background-image: linear-gradient(to bottom, #D9EDF7 0px, #B9DEF0 100%);
    background-repeat: repeat-x;
    border: 1px solid #9ACFEA;
}

/* chat bubble text */
.chat-messages li span.text {
display: block;
margin-top: 5px;
word-wrap:break-word;
}

/* corrected top margin for first text entry in chat bubble */
.chat-messages li span.text:first-child {
margin-top: 0;
}

/* alignment of messages sent */
.chat-messages li.own {
text-align: right;
}

/* chat state message */
.typing {
    margin-top: -45px;
    margin-bottom: 25px;
    text-align: center;
}